html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  font-family: "Poppins", sans-serif; 
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 101, 133, 1) 0%,
    rgba(255, 211, 165, 1) 90%
  );
}

.example::-webkit-scrollbar {
  display: none;
}

h1{
  padding-left: 20px;
}

.header{
  font-size: 24px;
  height: 25vh;
  width: 100%;
  background-color: bisque;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
}

.header form{
  padding-right: 20px;
}

.header form button {
  background-color: #4796ff;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100%;
}

/* styles.css */
.student-cards{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 40px;
}
.card {
  margin: 20px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 5px;
}

.card-subtitle {
  font-size: 14px;
}

.card-text {
  margin-bottom: 10px;
}
